.icon {
    width: 50px;   
    display: inline-block;
    vertical-align: middle;
}

.main.image {
    width: 40vw;
}

.secondary.image {
    width: 35vw;
}

.icon.account.type {
    width: 12vw;
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .icon {
        width: 30px;
    }

    .main.image {
        margin: 0 auto;
        width: 100%;
    }

    .secondary.image {
        margin: 0 auto;
        width: 100%;
    }
}