.icon {
    width: 50px;   
    display: inline-block;
    vertical-align: middle;
}

.main.image {
    width: 40vw;
}

.secondary.image {
    width: 20vw;
}

.icon.account.type {
    width: 12vw;
}

.wallet.button.img {
    width: 5vw;
    box-shadow: none;
}

.partner.logo.gray {
    height: 7vh;
    transition: all 0.5s ease 0s;
    opacity: 0.5;
}

.partner.logo.regular {
    height:7vh;
    transition: all 0.5s ease 0s;
    opacity: 1;
}

.partner.logo:hover {
    transform: translateY(-5px);
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .icon {
        width: 30px;
    }

    .main.image {
        margin: 0 auto;
        width: 100%;
    }

    .secondary.image {
        margin: 0 auto;
        width: 100%;
    }
}