.button.nav {
    padding: 2vh;
    font-size: 1.5vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    border-radius: 100vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button.nav:hover {
    transform: translateY(-5px);
}

.pushable {  
    background:#4F68B1;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
    border-radius: 1000px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 1000px;
    font-size: 2vh;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

.input.main {
    padding-top: 2vh;
    padding-bottom: 2vh;
    outline: none;
    flex: 1;
    border: none;
    font-size: 2vh;
}

.button.hamburger {
    outline: none;
    border: none;
    visibility: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.button.next {
    width: 3vw;
    height: 3vw;
    border-radius: 100vh;
    outline: none;
    border: none;
    color: #AF6AAC;
    transition: all 1s ease 0s;
    cursor: pointer;
    font-size: 2vh;
    background-color: transparent;
}

.button.next:hover {
    color: white;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    transform: translateY(-5px);
}

.button.signin {
    padding: 2vh;
    font-size: 2vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    border-radius: 100vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    width: 100%;
}

.button.signin:hover {
    transform: translateY(-5px);
}

.input.signin {
    border: none;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 2vh;
    outline: none;
    width: 100%;
    border-bottom: 2px solid white;
}

.input.signin:focus {
    border-image-source: linear-gradient(to right, #4F68B1, #AF6AAC);
    border-width: 2px;
    border-image-slice: 1;
}

.input.create {
    border: none;
    font-size: 2vh;
    outline: none;
    flex: 1;
    background-color: transparent;
}

.icon.input {
    width: max-content;
}

.button.account.type {
    background-color: transparent;
    border: 3px solid white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding: 2vh;
    border-radius: 2vh;
}

.button.account.type:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.account.type.selected {
    border: 3px solid #4F68B1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.account.type:hover {
    background-color:
}

.button.wallet {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 2vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 1vh;
    border: 2px solid white;
}

.button.wallet:hover {
    transform: translateY(-5px);
}

.button.taga.wallet {
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    padding: 1vh;
    margin-bottom: 5vh;
}

.button.wallet.neutral {
    border: 2px solid white;
}

.button.wallet.success {
    border: 2px solid #0ad48b;
}

.button.wallet.error {
    border: 2px solid red;
}

.button.add.square {
    width: 10vw;
    height: 10vw;
    font-size: 3vh;
    color: lightgray;
    border-radius: 5vh;
    border: 2px solid lightgray;
    transition: all 0.3s ease 0s;
}

.button.add.square:hover {
    border: 2px solid#AF6AAC;
    color: white;
    /* border-radius: 7vh; */
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #AF6AAC;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.company.profile.onboarding {
    width: 10vw;
    height: 10vw;
    border-radius: 5vh;
    border: none;
    font-size: 5vh;
    color: black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.button.close.modal {
    font-size: 2vh;
    margin-right: 2vw;
    margin-top: 2vw;
    background-color: transparent;
    border: none;
    color: lightgray;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button.close.modal:hover {
    color: #AF6AAC;
}

.input.shareholder.info {
    width: 100%;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    outline: none;
}

.input.shareholder.info::placeholder {
    color: lightgray;
}

.button.shareholder.info.continue {
    background-color: #AF6AAC;
    color: white;
    padding: 1vh;
    border: none;
    font-size: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button.shareholder.info.continue:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-5px);
}

.button.shareholder.dropdown {
    font-size: 2vh;
    padding: 1vh;
    border-radius: 1vh;
    border: none;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.button.shareholder.dropdown:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.shareholder.dropdown.element {
    font-size: 2vh;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 100%;
    border: none;
}

.button.shareholder.dropdown.element:hover {
    background-color: lightgray;
}

.button.delete.company {
    font-size: 2vh;
    opacity: 0.2;
    position: absolute;
    top: 3vh;
    right: 3vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button.delete.company:hover{
    opacity: 0.5;
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .button.nav {
        font-size: 1vh;
        padding: none;
        box-shadow: none;
    }

    .button.hamburger {
        visibility: visible;
        font-size: 3vh;
        color: #4F68B1;
    }

    .button.next {
        display: none;
    }
}