.button.nav {
    padding: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    border-radius: 100vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.input.main {
    padding-top: 2vh;
    padding-bottom: 2vh;
    outline: none;
    flex: 1;
    border: none;
    font-size: 2vh;
}

.button.nav:hover {
    transform: translateY(-5px);
}