.button.nav {
    padding: 2vh;
    font-size: 2vh;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    color: white;
    border-radius: 100vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.button.nav:hover {
    transform: translateY(-5px);
}

.input.main {
    padding-top: 2vh;
    padding-bottom: 2vh;
    outline: none;
    flex: 1;
    border: none;
    font-size: 2vh;
}

.button.hamburger {
    outline: none;
    border: none;
    visibility: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

.button.next {
    width: 3vw;
    height: 3vw;
    border-radius: 100vh;
    outline: none;
    border: none;
    color: #AF6AAC;
    transition: all 1s ease 0s;
    cursor: pointer;
    font-size: 2vh;
    background-color: transparent;
}

.button.next:hover {
    color: white;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    transform: translateY(-5px);
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .button.nav {
        font-size: 1vh;
        padding: none;
        box-shadow: none;
    }

    .button.hamburger {
        visibility: visible;
        font-size: 3vh;
        color: #4F68B1;
    }

    .button.next {
        display: none;
    }
}