/* Overall container */
.container.overall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Navigation bar container */
.container.nav {
    position: fixed;
    z-index: 1;
    height: max-content;
    width: 100vw;
    padding: 1vh;
    background-color: white;
}

.container.company {
    width: max-content;
    display: flex;
    align-items: center;
}

.container.links.navigation {
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.button.navigation {
    padding-right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for nav logo and company name */
.container.animated.nav {
    width: 99%;
    display: flex;
    height: max-content;
    animation: 1s ease-out 0s 1 navSlideIn;
}

/* Page content container */
.container.content {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    display: flex;
}

.container.main.about {
    width: 100%;
    background-color: white;
}

.container.content.half {
    width: 50%;
    display: inline-block;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    vertical-align: top;
}

.container.content.half.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signin-half {
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
}

.container.content.centered {
    width: 75%;
    height: max-content;
    margin: 0 auto;
    overflow-y: hidden;
}

.container.content.centered.vertical {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.interactions.main {
    /* width: 22vw; */
    display: flex;
}

.container.menu.mobile.nav {
    width: 100vw;
}

.backdrop.container.visible {
    width: 100vw;
    position: absolute;
    height: min-content;
    top: 0;
}

.backdrop.container.hidden {
    display: none;
}

.backdrop.interior {
    width: 75%;
    margin: 0 auto;
}

.container.nextButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.container.footer.interior {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.container.footer.copyright {
    width: 75%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.container.footer.col {
    flex: 1;
    text-align: center;
}

.container.text.main {
    width: min-content;
}

.container.about.content {
    width: 55vw;
    margin: 0 auto;
    padding-top: 30vh;
    text-align: center;
}

.container.about.values {
    width: 80%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.container.value.about {
    width: 45%;
    text-align: left;
}

.container.signin.form {
    width: 55%;
}

.container.onboarding {
    width: 60vw;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
}

.container.onboarding.content {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container.onboarding.content.interior {
    /* height: 100%; */
    /* padding-top: 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.onboarding.footer.content {
    height: max-content;
    width: 100%;
    padding-bottom: 1vh;
    position: absolute;
    bottom: 2vh;
    text-align: left;
}

.container.form.onboarding {
    width: 50%;
    height: max-content;
    /* border: 1px solid gray; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 2vh;
    padding: 3vh;
    text-align: left;
}


.container.steps {
    width: 100%;
    display: flex;
    height: max-content;
    /* animation: 1s ease-out 0s 1 navSlideIn; */
    flex-direction: row;
}

.step.container {
    flex: 1;
    padding: 1vh;
}

.step.container.interior {
    flex: none;
    width: 95%;
    margin: 0 auto;
    border-top: 0.5vh solid lightgray;
    /* border-image: linear-gradient(to right, #4F68B1, #AF6AAC) 30; */
}

.step.container.interior.selected {
    border-image: linear-gradient(to right, #4F68B1, #AF6AAC) 30;
}

.long.logo.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 2vh;
}

.input.container {
    display: flex;
    align-items: center;
    padding: 1vh;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 1vh;
}

.input.container.selected {
    /* border: 2px solid lightgray; */
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.icon.container.input {
    width: max-content;
    display: flex;
    align-items: center;
    padding-top: 1vh;
    border-color: transparent;
    background-color: transparent;
}

.container.error.message {
    max-width: 15vw;
    text-align: center;
    min-height:5vh;
    margin: 0 auto;
}

.container.account.types {
    width: max-content;
    margin: 0 auto;
}

.container.account.types.interior {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container.wallet.selection {
    width: 100%;
    margin: 0 auto;
}

.container.half.wallet.selection {
    width: 50%;
}

.container.half.wallet.creation {

}

/* Animations */
@keyframes navSlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mobileMenuFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .container.content.centered.vertical {
        flex-wrap: wrap;
        /* display: flex; */
        align-content: center;
    }

    /* .container.interactions.main {
        display: none;
    } */

    .backdrop.container {
        transition: all 0.5s ease 0s;
    }
}