/* Overall container */
.container.overall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Navigation bar container */
.container.nav {
    position: fixed;
    z-index: 1;
    height: max-content;
    width: 100vw;
    padding: 1vh;
    background-color: white;
}

.container.company {
    width: max-content;
    display: flex;
    align-items: center;
}

.container.links.navigation {
    margin: 0 auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.button.navigation {
    padding-right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for nav logo and company name */
.container.animated.nav {
    width: 99%;
    display: flex;
    height: max-content;
    animation: 1s ease-out 0s 1 navSlideIn;
}

/* Page content container */
.container.content {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.container.content.centered {
    width: 75%;
    height: max-content;
    margin: 0 auto;
    overflow-y: hidden;
}

.container.content.centered.vertical {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container.interactions.main {
    /* width: 22vw; */
    display: flex;
}

.container.menu.mobile.nav {
    width: 100vw;
}

.backdrop.container.visible {
    width: 100vw;
    position: absolute;
    height: min-content;
    top: 0;
}

.backdrop.container.hidden {
    display: none;
}

.backdrop.interior {
    width: 75%;
    margin: 0 auto;
}

.container.nextButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.container.footer.interior {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.container.footer.copyright {
    width: 75%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;
    justify-content: center;
}

.container.footer.col {
    flex: 1;
    text-align: center;
}

.container.text.main {
    width: min-content;
}

/* Animations */
@keyframes navSlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes mobileMenuFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Mobile Re-scaling */
@media (max-width: 700px) {
    .container.content.centered.vertical {
        flex-wrap: wrap;
        /* display: flex; */
        align-content: center;
    }

    /* .container.interactions.main {
        display: none;
    } */

    .backdrop.container {
        transition: all 0.5s ease 0s;
    }
}