.text.nav.logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vh;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5vw;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text.nav.links {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
    padding-left: 3vw;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: middle;
    color: gray;
}

.text.nav.links:hover {
    color: black;
}

.text.tagline {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7vh;
    font-weight: bold;
    animation: 1s ease-out 0s 1 navSlideIn;
    display: block;
}

.text.tagline.smaller {
    font-size: 2.5vh;
    width: 30vw;
    animation: none;
}

.text.keyword.tagline {
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* animation: 1s ease-out 0s 1 navSlideIn; */
    display: inline-block;
}

.text.keyword.tagline.smaller {
    font-size: 2.5vh;
    display: inline;
    animation: none;
}

.text.link.signin {
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-right: 2vw;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.text.link.signin:hover {
    transform: translateY(-5px);
}

.text.paragraph.main {
    font-size: 2vh;
    /* width: 25vw; */
    font-family: 'Source Sans Pro', sans-serif;
    /* animation: 1s ease-out 0s 1 tagLineSlideIn; */
}

.text.footer.header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

.text.footer.link {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
    text-decoration: none;
    color: gray;
}

.text.paragraph.about {
    font-size: 2vh;
    width: 70%;
    color: gray;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    /* animation: 1s ease-out 0s 1 tagLineSlideIn; */
}

.text.paragraph.about.register {
    color: gray;
    font-weight: bold;
}

.text.about.tagline.smaller {
    font-size: 3.5vh;
    margin: 0 auto;
}

.text.signin.header {
    font-size: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.text.signin.header.keyword {
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* animation: 1s ease-out 0s 1 navSlideIn; */
    display: inline-block;
}

.text.under.signin {
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.text.under.signin.link {
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.text.step.header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
    font-weight: bold;
}

.text.step.header.selected {
    background: linear-gradient(to right, #4F68B1, #AF6AAC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text.step.header.under {
    font-weight: normal;
    color: gray;
}

.text.message.error {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
}

.text.account.type.header {
    font-size: 2vh;
    font-weight: bold;
}

.text.neutral.wallet {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    user-select: none;
}

.text.error.wallet {
    font-family: 'Source Sans Pro', sans-serif;
    color: red;
    user-select: none;
}

.text.success.wallet {
    font-family: 'Source Sans Pro', sans-serif;
    color: #0ad48b;
    user-select: none;
}

/* Animations */
@keyframes tagLineSlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Mobile Re-scaling */
@media (max-width: 700px) {
    .text.link.signin {
        display: none;
    }

    .text.nav.links {
        display: none;
    }

    .text.tagline {
        font-size: 4vh;
    }

    .text.paragraph.main {
        width: 75vw;
    }

    .text.tagline.smaller {
        width: 75vw;
    }

    .text.nav.logo {
        margin-left: 2vw;
    }
}